<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>404 Error - Bus Booking System</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>

<body>
  <div class="jumbotron d-flex align-items-center min-vh-100">
    <div class="container text-center">
      <h2>404 Page Not Found!</h2>
      Please click <a href="/">here</a> to go home.
    </div>
  </div>
  <script language="javascript" src="/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/jquery-confirm/dist/jquery-confirm.min.js"></script>
</body>

</html>