<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Profile - Bus Booking System</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/base-css/left-navebar.css" />
  <link rel="stylesheet" href="/jquery-confirm/dist/jquery-confirm.min.css" />

  <link rel="stylesheet" href="/base-css/base.css" />

  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <style>
    body {
      background-color: whitesmoke;
    }
  </style>
</head>

<body>
  <div id="loading">
    <img id="loading-image" src="/images/loader.gif" alt="Loading..." />
  </div>
  <div class="container-fluid min-vh-100 d-flex flex-column">
    <div class="row flex-grow-1">
      <div class="col-md-2" style="padding:0px;">
        <div class="left-navebar">

        </div>
      </div>
      <div class="col-md-10 ">

        <h3>Profile</h3>
        <hr>

        <div class="row">
          <div class="col-md-1">
            Name
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <input type="text" class="form-control" id="name" placeholder="Name" required="required" maxlength="25">
            </div>
          </div>
        </div><br>

        <div class="row">
          <div class="col-md-1">
            Email
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <input type="text" class="form-control" id="name" placeholder="Email Address" required="required"
                maxlength="25">
            </div>
          </div>
        </div><br>

        <div class="row">
          <div class="col-md-1">
            Phone
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <input type="text" class="form-control" id="name" placeholder="Phone Number" required="required"
                maxlength="25">
            </div>
          </div>
        </div><br>

        <div class="row">
          <div class="col-md-1">
            Usermame
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <input type="text" class="form-control" id="name" placeholder="Username" required="required"
                maxlength="25">
            </div>
          </div>
        </div><br>

        <div class="row">
          <div class="col-md-1">
            Created
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <input type="text" class="form-control" id="name" placeholder="Created on" required="required"
                maxlength="25">
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <script language="javascript" src="/bootstrap/js/bootstrap.min.js"></script>
  <script language="javascript" src="/base-js/base.js"> </script>
  <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/jquery-confirm/dist/jquery-confirm.min.js"></script>
  <script>
    // A $( document ).ready() block.
    $(document).ready(function () {
      $.ajax({
        url: "/nave_bar",
        type: "POST",
        dataType: 'html',
        success: function (data) {
          $(".left-navebar").html(data);

          $('#loading').fadeOut('slow');
        }
      })
    });
  </script>
</body>

</html>